*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html,
body{
    height: 100%;
    background-color: #d9d9d9;
}

body{
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
    margin: 0 auto;
    padding: 20px 40px;
    max-width: 1000px;
    width: 100%;
    background-color: white;
}

.header-text-24pt{
    font-size: 24pt;
}

.header-text-18pt{
    font-size: 18pt;
}

.column{
    display: inline-block;
}

.container{
    display: flex;
    justify-content: space-between;
}

.column-50{
    width: 48%;
}